body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000;
}

#app {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	color: #fff;
	font-family: Arial, sans-serif;
	margin-bottom: 20px;
}

#gameContainer {
	width: 100%;
	height: 100%;
}
